:root {
    --body-background-color: rgb(11, 18, 24);
    --body-text-color: #ffffff;
    --nav-background-color: rgb(11, 18, 24);
    --nav-border-bottom-color: rgb(43, 54, 64);
    --nav-current-border-bottom-color: #1abc9c;
    --card-background-color: #2b3640;
    --card-border-color: #2b3640;
    --up-border-left-color: #20bf6b;
    --down-border-left-color: #eb3b5a;
    --down-background-color: #ffd0d2;
    --degraded-border-left-color: #f7b731;
    --tag-color: #ffffff;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}

body {
    background-image: url(background.svg);
    background-position: center 100px;
    background-repeat: no-repeat;
}

header {
    height: 71px
}